<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>GuestBook</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <meta content="initial-scale=1,width=device-width" name="viewport">
  <link rel="stylesheet" href="index.css">

</head>

<body>
  <h1>GuestBook</h1>
  <h3>What´s on your mind?</h3>
  <div id="app">
    <input type="text" placeholder="Author"name="Author" value="Author" v-model="author">
    <input type="text" placeholder="Message"name="Message" size="60"value="Message" v-model="message">
    <input v-on:click='addNote' id='add-Note' type="button" name="addNote" value="addNote"><br>
    <input type="text" placeholder="findAuthor"name="findAuthor" value="findAuthor" v-model="findAuthor">
    <input v-on:click='findbyauthor' id='findbyauthor' type="button" name="findbyauthor" value="findbyauthor"><br>

     <input v-on:click='getAll' id='getAll' type="button" name="getAll" value="getAll">
    <dl>
      <template v-for="note in notes">
        <dt><b> {{ note.author }}</b> </dt>
        <dd><i>wrote at {{note.date}}</i></dd>
        <dd><i><b>    {{note.message}}</b></i></dd>
      </template>
    </dl>

  </div>
  <script src="index.js" charset="utf-8"></script>
</body>

</html>
