<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>GuestBook</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>
  <h1>GuestBook</h1>
  <h3>What´s on your mind?</h3>
  <div id="app">
    <input type="text" placeholder="Author"name="Author" value="Author" v-model="author">
    <input type="text" placeholder="Message"name="Message" size="100"value="Message" v-model="message">
    <input v-on:click='addNote' id='add-Note' type="button" name="addNote" value="addNote">

    <dl>
      <template v-for="note in notes">
        <dt>id: {{note.id}}<b> {{ note.author }}</b> <i>wrote at {{note.date}}</i></dt>
        <dd><i>{{note.message}}</i></dd>
      </template>
    </dl>

  </div>
  <script src="index.js" charset="utf-8"></script>
</body>

</html>
